.form-container {
  display: flex;
  flex-direction: column;
}

table {
  padding: 0 30px;
  width: 100%;
  border-spacing: 0 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

label {
  font-size: larger;
}

input {
  background-color: #2F4858;
  color: #F6B173;
}

.add-tool {
  display: flex;
  background-color: #2F4858;
  color: #F6B173;
  border: none;
  font-size: large;
  border-radius: 4px;
  margin-left: 185px;
}