.materials-title {
  background-color: #2F485880;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  border-radius: 4px;
}

.materials-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 4px;
  background-color: #525A7A80;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  width: 200px;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

h2 {
  color: whitesmoke;
  text-decoration: none;
}

.materials {
  text-decoration: none;
}




