{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}?{% now "U" %}"/>
{% endblock %}

{% block content %}
  {% if item %}
    <h1>Edit {{item.task}}</h1>
  {% else %}
    <h1 class="clean-title">Let's Clean<img src="{% static 'images/lemon.svg' %}" alt="yellow sponge" width= 30px></h1>
  {% endif %}
  <div>
    <form action="" method="post" class="form-container" autocomplete="off">
      {% csrf_token %}
      <table class="item-table">
        {{ form.as_table }}
      </table>
      {% if item %}
        <button type="submit" class="add-task">Edit Item</button>
      {% else %}
        <button type="submit" class="add-task">Add Item</button>
      {% endif %}
    </form>
  </div>

{% endblock %}