{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="confirm-dlt-material">
  <h1>Throw Out {{material.name}}?</h1>
</div>
<h2 class="confirm-dlt-material-msg">Are you sure?</h2>
<form action="" method="POST" class="form">
  {% csrf_token %}
  <button class="confirm-dlt-material-btn-no">
  <a href="{% url 'materials_detail' material.id %}" class="confirm-dlt-material-btn-no">No, Cancel</a></button>
  <button type="submit" class="confirm-dlt-material-btn-yes">Yup, throw out!</button>
</form>

{% endblock%}