{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/materials/material-form.css' %}?{% now "U" %}"/>
{% endblock %}

{% block content %}

<div>
  {% if object %}
    <h1 class="tool-title"><img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 30px>Edit {{object.name}}</h1>
  {% else %}
    <h1 class="tool-title">+ Cleaning Tool <img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 30px></h1>
  {% endif %}

  <div>
    <form action="" method="POST" class="form" autocomplete="off">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      {% if material %}
        <button type="submit" class="edit-tool">Edit Tool</button>
      {% else %}
        <button type="submit" class="add-tool">+ Tool</button>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}