{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/materials/material-form.css' %}"/>
{% endblock %}

{% block content %}

<div>
  {% if object %}
    <h1>Edit {{object.name}}</h1>
  {% else %}
    <h1>+ Cleaning Tool <img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 30px></h1>
  {% endif %}

  <div>
    <form action="" method="POST" class="form" autocomplete="off">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="add-tool">+ Tool</button>
    </form>
  </div>
</div>

{% endblock %}