{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/items/item-detail.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}

<div class="items">
  <section>
    <div class="items-list">
      <h1 class="items-list">{{ item.task }} <img src="{% static 'images/lemon.svg' %}" alt="yellow sponge" width= 30px></h1>
      <h2>Last cleaned: {{ item.day }}</h2>
      <a href="{% url 'items_update' item.id %}" class="edit-delete-item">Edit</a>
      <a href="{% url 'items_delete' item.id %}" class="edit-delete-item">Delete</a>
    </div>
  </section>
</div>

<div class="materials">
  <section>
    {% comment %} <div>
      <h2>Materials</h2>
    </div> {% endcomment %}
    <div>
      <h3><img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 22px> Supplies for {{item.task}}:</h3>
      {% if item.materials.count %}
        {% for material in item.materials.all %}
          <div class="materials-added">
            <a href="{% url 'materials_detail' material.id %}" class="materials-added">{{material.name}}</a>
          </div>
        {% endfor %}
      {% else %}
        <h4>No materials needed <img src="{% static 'images/stars.svg' %}" alt="yellow sponge" width= 20px></h4>
      {% endif %}
    </div>
    <div>
      <h3><img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 22px>Materials Available:</h3>
        {% if materials.count %}
          {% for material in materials.all %}
            <div class="materials-available">
              <a href="{% url 'materials_detail' material.id %}">
                <h3 class="material-name">{{material.name}}</h3>
              </a>
              <form action="{% url 'assoc_material' item.id material.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="materials-button">Add</button>
              </form>
            </div>
          {% endfor %}
        {% else %}
          <h3>All Tools Used <img src="{% static 'images/stars.svg' %}" alt="yellow sponge" width= 30px></h3>
        {% endif %}
    </div>
  </section>
</div>

{% endblock %}