{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/items/item-index.css' %}?{% now "U" %}"
/>
{% endblock %}

{% block content %}
<h1 class="cleaned-title">Cleaned Items <img src="{% static 'images/stars.svg' %}" alt="stars" width=30px></h1>

<section>
  {% if items.count %}
    {% for item in items %}
    <a href="{% url 'items_detail' item.id %}" class="card-title">
      <div class="card">
          <div class="card-content">
            <div clas="card-img">
              <img src="{% static 'images/lemon.svg' %}" alt="yellow sponge" width= 60px>
            </div>
            <h2 class="card-title">{{ item.task }}</h2>
          </div>
      </div>
    </a>
    {% endfor %}
  {% else%}
    <div class="no-items">
      <div class="no-items-msg">
        <h4>No Items- Time to Clean!</h4>
      </div>
      <div class="no-items-img">
        <img src="{% static 'images/lemon.svg' %}" alt="yellow sponge" width= 60px>
        <img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 60px>
        <img src="{% static 'images/stars.svg' %}" alt="yellow sponge" width= 60px>
      </div>
  {% endif %}
    </div>
</section>

{% endblock %}
