
.items {
  background-color: #2F485880;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px 10px 10px;
  margin-top: 5px;
  border-radius: 4px;
}

.items-list {
  justify-content: center;
}

.materials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;
  margin-top: 5px;
}

a {
  background-color: #2F4858;
  color: whitesmoke;
  border-radius: 4px;
  text-decoration: none;
}

.edit-delete-item {
  padding: 5px;
}

.materials-added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.materials-available {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #2F4858;
  border-radius: 4px;
  margin: 5px;
}

.materials-added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.materials-button {
  border: none;
  border-radius: 4px;
  background-color: #F6B173;
  color: #2F4858;
  margin: 10px;
}

.material-name {
  display: flex;
  justify-content: center;
  align-items: center;
}