.cleaned-title {
  background-color: #525A7A90;
  /* border: solid thin #2F4858; */
  color: whitesmoke;
  border-radius: 4px;
  padding: 5px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30px;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: solid thin #2F4858; */
  border-radius: 4px;
  background-color: #525A7A90;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.card-title > a { 
  color: white;
  text-decoration: none;
}

.card-title {
  color: whitesmoke;
  text-decoration: none;
}

.card > a {
  text-decoration: none;
}

.card-title:active {
  text-decoration: none;
}

.card-title:visited {
  text-decoration: none;
}

.no-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.no-items-msg {
  display: flex;
  justify-content: center;
}

.no-items-img {
  display: flex;
  justify-content: center;
}

