{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1 class="about-title">Welcome to Swept Away!</h1>
<h2 class="phrase">Clean for the moment, enjoy for life 
  <img src="{% static 'images/stars.svg' %}" alt="stars" width=20px>
</h2>
<div class="images">
<img src="{% static 'images/sponge.svg' %}" alt="sponge" width=100px>
<img src="{% static 'images/spray.svg' %}" alt="spray-bottle" width=100px>
<img src="{% static 'images/lemon.svg' %}" alt="spray-bottle" width=100px>
</div>

{% elif not user.is_authenticated %}
<div>
  <section>
    <h1 class="home-title">Swept Away</h1>
    <div class="home-img">
      <img src="{% static 'images/sponge.svg' %}" alt="yellow sponge" width= 100px>
    </div>
  </section>
</div>

    <section class="login">
      <form action="{% url 'home' %}" method="post" class="login" autocomplete="OFF">
        <h1 class="login">Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" autocomplete="OFF">
        <button type="submit" class="btn submit">Login</button>
      </form>
    </section>
{% endif %}

{% endblock %}
