body{
  /* background-image: url("/main_app/static/images/stars.svg"); */
  background-color: #525A7A;
  color: #FFEACE;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;

}

header{
  width: 100%;
}

nav{
  background-color: #F2ECFF;
  /* background-image: url(/main_app/static/images/citrus.jpg); */
  opacity: 0.8;

}

ul{
  list-style: none;
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
}

nav a:hover{
  color: #C35256;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  margin: 30px;
}

.phrase {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: 'Bilbo', cursive;
  font-size: 30px;

}

.about-title {
  display: flex;
  justify-content: center;
  font-family: 'Bilbo', cursive;
  font-size: 45px;
}

.home-title {
  display: flex;
  justify-content: center;
  font-family: 'Bilbo', cursive;
  font-size: 50px;
}

.home-img {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login input {
  background-color: #F6B173;
}

.login label {
  font-size: larger;
}

.login button {
  background-color: #F6B173;
  align-self: flex-end;
  border: none;
  font-size: large;
  border-radius: 4px;
}