body{
  background-image: url("../images/oranges.jpg");
  background-position: center;
  background-size: 640px 960px;
  background-attachment: fixed;
  background-color: #F6B173;
  color: #2F4858;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;

}

header{
  width: 100%;
}

nav{
  background-color: #2F4858;
  /* background-image: url(/main_app/static/images/citrus.jpg); */
  color: #F6B173;
  border-radius: 4px;
  height: 30px;
  margin-top: 5px;
}

ul{
  display: flex;
  justify-content: left;
  align-items: left;
  list-style: none;
}

nav li {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #F6B173;
}

nav li:last-child {
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: #F6B173;
}

nav a:hover{
  color: #C35256;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.images {
  margin: 10px;
}

.phrase {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: 'Bilbo', cursive;
  font-size: 30px;
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;

}

.about-title {
  background-color: #2F485880;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: 'Bilbo', cursive;
  font-size: 45px;
  padding: 15px;
  border-radius: 4px;
}

.home-title {
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  font-family: 'Bilbo', cursive;
  font-size: 50px;
}

.home-img {
  display: flex;
  justify-content: center;
}

.login {
  background-color: #2F485880;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.login input {
  color: whitesmoke;
  background-color: #2F4858;
}

.login label {
  font-size: larger;
}

.login button {
  background-color: whitesmoke;
  color: #2F4858;
  align-self: flex-end;
  border: none;
  font-size: large;
  border-radius: 4px;
}

.confirm-dlt-material {
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}

.confirm-dlt-material-msg {
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.confirm-dlt-material-btn-yes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #2F4858;
  color: #F6B173;
  padding: 5px;
  margin: 5px;
  font-size: large;
}

.confirm-dlt-material-btn-no {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #2F4858;
  color: #F6B173;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  font-size: medium;
}

.signup-btn {
  display: flex;
  justify-content: center;
  background-color: #2F4858;
  color: #F6B173;
  border-radius: 4px;
  width: fit-content;
  margin-left: 220px;
}

.exit {
  color: whitesmoke;
}

@media only screen and (min-width: 768px){
  body {
    background-image: url("../images/fruits.svg");
    background-size: cover;
    background-attachment: fixed;
  }

  /* nav {
  margin: 10px;
  } */

  nav li{
    margin: 5px;
    font-size: larger;
    padding-bottom: 10px;
  }
}