.form-container {
  display: flex;
  flex-direction: column;
}

table {
  padding: 0 30px;
  width: 100%;
  border-spacing: 0 20px;
}

.btn {
  align-self: flex-end;
  margin-right: 90px;
  background-color: black;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
}

label {
  font-size: larger;
}

input {
  background-color: #2F4858;
  color: #F6B173;
}

.add-task {
  display: flex;
  background-color: #2F4858;
  color: whitesmoke;
  align-self: flex-end;
  border: none;
  font-size: large;
  border-radius: 4px;
  margin-top: 5px;
}

.clean-title {
  background-color: #2F485880;
  color: whitesmoke;
  padding: 10px;
  border-radius: 4px;
}

.item-table {
  background-color: #2F485880;
  color: whitesmoke;
  border-radius: 4px;
}