.signup-table {
  background-color: #2F485880;
  color: whitesmoke;
  font-size: small;
  border-radius: 4px;
}

table {
  padding: 10px;
}

td {
  padding: 10px;
}

label {
  margin: 0;
  padding: 0;
}

ul {
  text-overflow: clip;
}

li {
  font-size: 0px;
}

span {
  font-size: 0;
}

.signup-title{
  background-color: #2F485880;
  color: whitesmoke;
  padding: 5px;
  border-radius: 4px;
  margin-right: 180px;
}

.signup-btn{
  display: flex;
  margin-left: 275px;
  margin-top: 5px;
}